<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <%for(var i=0; i < metas.length; i++){ var _meta = metas[i]; %> 
        <% if(true) {%>
        <meta name="<%=_meta.property %>" content="<%=_meta.content %>">
        <%} else{%>
        <meta property="<%=_meta.property %>" content="<%=_meta.content %>">
        <%}%>
    <%} %>  
    <title><%=title %></title>
</head>
<body>
    <div id="root"><%=render %></div>
    <div id="root <%=render %>"></div>
</body>
</html>